body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    border-bottom: 2px solid #d49a00;
    padding: 15px;
}

    header h1 {
        font-size: 28px;
        margin: 0;
        font-weight: bold;
    }

     h2 {
        text-align:center;
        align-content:center;
        align-items:center;
        font-size: 22px;
        color: #333;
        margin: 10px 0;
    }

.catalogos-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    text-align: center;
    background-color: #fff;
}

.icon-circle {
    width: 80px;
    height: 80px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.card p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #333;
}

.btn-card {
    background-color: #d49a00;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

    .btn-card:hover {
        background-color: #b37f00;
    }
/* ✅ Responsivo */

@media (max-width: 768px) {
    .catalogos-container {
        flex-direction: column;
        align-items: center;
    }
}
