* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
}

/* Encabezado */
.encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    border-bottom: 2px solid #d1a646;
    position: relative;
}

.btn-regresar {
    position: absolute;
    left: 15px;
    color: #d1a646;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: transparent;
}

    .btn-regresar:hover {
        color: #c59834;
    }

.btn-regresar {
    transition: color 0.2s ease;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
}

.titulo {
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
    font-weight: 700;
}

/* Botón agregar */
.contenedor-agregar {
    width: 90%;
    margin: 20px auto 10px auto;
    display: flex;
    justify-content: flex-end;
}

/* Editar el <a> a un botón real */
.btn-agregar {
    background: #d1a646;
    color: white;
    border: none;
    padding: 12px 22px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    transition: 0.2s ease; /* transición de color*/
    text-decoration: none; /* quita subrayado */
    display: inline-flex;
}

    .btn-agregar i {
        font-size: 22px;
    }

    .btn-agregar:hover {
        background: #c59834;
    }

/* Tabla */
.tabla-scroll {
    width: 90%;
    margin: auto;
    overflow-x: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(210, 158, 61, 0.3);
    padding: 15px;
    background: white;
}

.tabla-productos {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
    text-align: center;
}

    .tabla-productos thead {
        background-color: #d1a646;
        color: white;
    }

    .tabla-productos th,
    .tabla-productos td {
        padding: 12px;
        border: 1px solid #f2d9a2;
        height: 42px;
    }

/* Iconos */
.col-icono {
    width: 70px;
}

.icono-tabla {
    font-size: 26px;
    color: #c67f00;
    cursor: pointer;
}

    .icono-tabla:hover {
        color: #a56a00;
    }

/* Responsivo */
@media (max-width: 900px) {
    .logo,
    .titulo {
        font-size: 26px;
    }

    .btn-agregar {
        font-size: 16px;
        padding: 10px 18px;
    }

        .btn-agregar i {
            font-size: 18px;
        }
}

@media (max-width: 600px) {

    .logo,
    .titulo {
        font-size: 22px;
    }

    .btn-regresar svg {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 430px) {

    .logo,
    .titulo {
        font-size: 20px;
    }

    .btn-agregar {
        padding: 6px 12px;
        font-size: 13px;
    }

        .btn-agregar i {
            font-size: 16px;
        }

    .btn-regresar svg {
        width: 30px;
        height: 30px;
    }
}
